<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= simple_format( h(@review.comment) ) %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book&.title %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
